<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
  
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>





</ion-header>

<ion-content [fullscreen]="false">


  <ion-slides [options]="option" class="ion-margin-top">
    
    
    <ion-slide>
      <ion-card>
        <img src="assets/Contactosimg/z5.jpg">
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card>
        <img src="assets/Contactosimg/z4.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Contactosimg/z3.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Contactosimg/z2.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Contactosimg/z1.jpg">
      </ion-card>
    </ion-slide>


  </ion-slides>

  <ion-button expand="full" type="submit">
    TOP VENTAS


</ion-button>

</ion-content>