
  <ion-toolbar color="primary"> 
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>

    </ion-buttons>
    <ion-title>Tabla de Trabajo</ion-title>
  </ion-toolbar>


<ion-content>
  <ion-list>
    <ion-list-header> Tabla Trabajo </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/Contactosimg/goku.png" />
      </ion-avatar>
      <ion-label>
        <h2>Jose Daniel Fajardo</h2>
        <h3>Ingenieria en informatica - 202000390</h3>
        <p>Aportes: -Creacion del menu lateral
                <br>-Seccion de contactos</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/Contactosimg/sonic.png" />
      </ion-avatar>
      <ion-label>
        <h2>Christian Mauricio Diaz</h2>
        <h3>Ingenieria en informatica - 202000391</h3>
        <p>Aportes: Carrusel de imagenes
          <br> estetetica
        </p>
      </ion-label>
    </ion-item>

    
      
  </ion-list>
</ion-content>
